@import '../variables.scss';

.p-inputwrapper-filled:not(.p-invalid):not(.outline-disabled) {
  outline: 2px solid $success-color !important;
  border-radius: 4px;
}
.p-error {
  text-align: end !important;
  height: 10px;
}
