$primary-lighten: #dfdcff;
$primary-base: #6560ba;
$primary-base-opacity: #6560ba5c;
$primary-darken1: #5554a0;
$primary-darken2: #474479;

$grayscale-base: #e2e3e8;
$grayscale-lighten1: #7e828e;
$grayscale-darken1: #70727f;
$grayscale-darken2: #3a3a46;
$grayscale-darken3: #2c2c38;
$grayscale-darken3-opacity: #2c2c3871;
$grayscale-darken4: #21212d;
$grayscale-darken5: #2f2f3b;
$grayscale-darken6: #292938;
$grayscale-darken7: #23232f;

$field-hover-darken: #2424307c;

$base-color-1: #4ec4df;
$base-color-2: #836ff2;
$base-color-3: #8bdbc0;
$base-color-4: #ff7a00;
$base-color-5: #ed0000;

$success-color: #52ba28;
$warning-color: #ff7a00;
$error-color: #ed0000;
$error-color-darken: #6b1a2b
