body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #21212d;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* -------------------------------- OVERWRITE PRIMEVUE STYLES --------------------------------- */
.p-tooltip {
  z-index: 1002;
}

.p-tooltip-text {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.p-menu {
  padding: 0 !important;
  transform: translateY(15px);
}

.p-menu.p-menu-overlay {
  background: #2c2c38 !important;
}

.p-menu .p-submenu-header {
  background: #2c2c38 !important;
  color: #dfdcff !important;
}

.p-menu .p-menuitem-link .p-menuitem-text {
  color: #dfdcff !important;
}

.p-menu .p-menuitem-link .p-menuitem-icon {
  color: #dfdcff !important;
}

.p-menu .p-menuitem-link:not(.p-disabled):hover {
  background: #21212d !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  box-shadow: none !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  background: transparent !important;
}

.p-editor-content {
  min-height: 100px !important;
}

.p-editor-container .task__description--readonly > .p-editor-toolbar {
  display: none !important;
}

.p-editor-container-filled:not(.p-invalid) {
  border: 0;
  outline: 2px solid #52ba28 !important;
  border-radius: 4px;
}

.p-editor-container .p-invalid {
  border: 0;
  outline: 2px solid red !important;
  border-radius: 4px;
}

.ql-editor.ql-blank::before {
  color: #7e828e !important;
  font-size: 14px;
  font-style: normal !important;
}
.p-dropdown-items-wrapper {
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #6560ba;
  }

  &::-webkit-scrollbar-track {
    background: #2f2f3b;
  }
}
/* --------------------------------------------------------------------------------------------- */
