body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #21212d;
}

/* -------------------------------- OVERWRITE PRIMEVUE STYLES --------------------------------- */
.p-tooltip {
  z-index: 1002;
}

.p-tooltip-text {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.p-menu {
  padding: 0 !important;
  transform: translateY(15px);
}

.p-menu.p-menu-overlay {
  background: #2c2c38 !important;
}

.p-menu .p-submenu-header {
  background: #2c2c38 !important;
  color: #dfdcff !important;
}

.p-menu .p-menuitem-link .p-menuitem-text {
  color: #dfdcff !important;
}

.p-menu .p-menuitem-link .p-menuitem-icon {
  color: #dfdcff !important;
}

.p-menu .p-menuitem-link:not(.p-disabled):hover {
  background: #21212d !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  box-shadow: none !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  background: transparent !important;
}

.p-dropdown-items-wrapper {
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #6560ba;
  }

  &::-webkit-scrollbar-track {
    background: #2f2f3b;
  }
}
/* --------------------------------------------------------------------------------------------- */
